<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Salva_Peluqueros.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Salva_Peluqueros.Properties.Settings.PeluqueriaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=DB\Peluqueria.mdb"
            providerName="System.Data.OleDb" />
        <add name="Salva_Peluqueros.Properties.Settings.PeluqueriaConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=DB\Peluqueria.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Salva_Peluqueros.Properties.Settings>
            <setting name="UbicacionBD" serializeAs="String">
                <value>DB\Peluqueria.mdb</value>
            </setting>
            <setting name="TituloAcademia" serializeAs="String">
                <value>Ies Las Fuentezuelas</value>
            </setting>
            <setting name="CarpetaHistoriales" serializeAs="String">
                <value>Antiguas BD</value>
            </setting>
            <setting name="CarpetaRespaldo" serializeAs="String">
                <value>Copias de seguridad</value>
            </setting>
            <setting name="RutaWeb" serializeAs="String">
                <value>web</value>
            </setting>
        </Salva_Peluqueros.Properties.Settings>
    </userSettings>
</configuration>